<<<<<<< HEAD

html,body{
    margin: 0;
    padding: 0;

}
.wrapper{
    position: relative;
    min-height: 100vh ;
    overflow: hidden;
}
.header{
    background: #ccc;
}
.nav__list{
    background: #ccc;
}
=======
>>>>>>> nav
